table {
  width: 100%;
  border: 1px solid;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-styling {
  font-size: 13px;
  margin-right: 0.33rem;
}

.action-header {
  display: flex;
  align-items: baseline;
}
